
*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    margin: 0; /* This tells the computer how far from the left hand side of the screen the text will be placed */
    font-family: 'Lato' sans-serif; /*<!-- When written this autonatically changes the code to the selected font type which in this case is Lato-->*/
    font-size: 1em; /* changes the size of the font to the set number*/
}

    
/* 
    .title{
        color: ivory;
        font-family: "roboto", sans-serif;
        font-variant: small-caps;

        width: 100%;
        height: 60px;
        background-color: rgb(40, 33, 78);
        
  
    }
    .contact{
        color: orange;
        font-family: "monospace", sans-serif;
        font-variant: small-caps;

    }
    .about{
        color: green;
        font-family: "monospace", sans-serif;
        font-variant: small-caps;
    }
 */

    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
            background-image: linear-gradient(
                90deg,
                rgba(163, 162, 221, 0.699),
                rgba(40, 33, 78, 0.911)
            );

        color: white;
        font-size: small;
        font-family: "libre franklin",sans-serif;
        font-variant: inherit;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
        min-height: 100vh;

    }
    .background_vid{
        position: absolute;
        z-index:-1;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        min-width: 100%;
        min-height: 100%;
    }

footer{
    margin-bottom:0 ;
    background-color: blueviolet;
    width: 100%;
    height: 100px;
}


nav{
    background: rgb(40,33,78);
    color: white;
    font-family: "monospace", sans-serif;
    font-size: 30px;
    height: 70px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.container{
    display: flex;
    direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;


    


/* 
.flex-container{
    display: flex;
    justify-content: space-around;
}
.parent {
    display: flex;
    height: 40px;
}

.child {
    width: 120px;
    height: 40px;
    margin: auto;
} */